﻿@model IList<KTraining.Models.ShowMarkViewModel>
@{
    ViewBag.Title = "Marks";
}
<h2>Бележник</h2>
<div>
    <div class="row underline large-text">
        <div class="col-md-4 ">
            Курс
        </div>
        <div class="col-md-4">
            Оценка
        </div>
        <div class="col-md-4">
            Дата
        </div>
    </div>
    
    @foreach (var item in @Model)
    {
        <div class="row underline">
            <div class="col-md-4 ">
                <a href="/Post/Posts/@item.CourseId">@item.CourseName</a>
            </div>
            
                @if (item.MarkValue < 3)
                { 
                    <div class="col-md-4 red-text">
                         @item.MarkValue
                    </div>
                }
                else if (item.MarkValue > 5.49)
                {
                    <div class="col-md-4 green-text">
                        @item.MarkValue
                    </div>
                }
                else
                {
                    <div class="col-md-4">
                        @item.MarkValue
                    </div>
                }
                
            <div class="col-md-4">
                @item.Date
            </div>
        </div>
    }
</div>
<link href="~/Content/Styles/Mark.css" rel="stylesheet" />
