﻿@model KTraining.Models.AddTopicViewModel
@{
    ViewBag.Title = "Add topic";
}

<h2>Добавяне на тема</h2><hr />
<div >
    @using (Html.BeginForm("Add", "Topic", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
               
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                 <div class="error">
                    @TempData["AddTErr"]
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добави" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<link href="~/Content/Styles/Topic.css" rel="stylesheet" />