﻿@model KTraining.Models.TypeQuestionsViewModel
@{
    ViewBag.Title = "Types";
}

<div>
    <div>
        <h2>@Model.TopicName</h2>
        @using (Html.BeginForm("Delete", "Topic", FormMethod.Post, new { @role = "form" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="topicId" value="@Model.TopicId" />
            <input type="submit" class="btn btn-danger" value="Изтрий темата" />
        }
    </div>
    <div class="error">
        @TempData["DelError"]
    </div>
    <h3>Въпроси</h3>
    <div>
        <a class="font-size-18" href="/CloseQuestion/Questions/@Model.TopicId">Затворени въпроси</a>
    </div>
    <div>
        <a class="font-size-18" href="/OpenQuestion/Questions/@Model.TopicId">Отворени въпроси</a>
    </div>
</div>
<link href="~/Content/Styles/Topic.css" rel="stylesheet" />
