﻿@model IEnumerable<KTraining.Models.CompletedCourseViewModel>

@{
    ViewBag.Title = "Courses";
}

<h2>Завършени курсове</h2>

<br />
<div>
    <div class="row underline large-text">
        <div class="col-md-5 ">
            Курс
        </div>
        <div class="col-md-5">
            Оценка
        </div>
    </div>

    @foreach (var item in @Model)
    {
        <div class="row underline">
            <div class="col-md-5 ">
                <a href="/CourseDetails/Details/@item.CourseId">@item.Name</a>
            </div>

            @if (item.CourseMark < 3)
            {
                <div class="col-md-5 red-text">
                    @item.CourseMark
                </div>
            }
            else if (item.CourseMark > 5.49)
            {
                <div class="col-md-5 green-text">
                    @item.CourseMark
                </div>
            }
            else
            {
                <div class="col-md-5">
                    @item.CourseMark
                </div>
            }
        </div>
    }
</div>
<link href="~/Content/Styles/Course.css" rel="stylesheet" />
