﻿@model int
<div class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a href="/Post/Posts/@Model">Дейности</a></li>
        <li><a href="/CourseParticipants/Participants/@Model">Участници</a></li>
        <li><a href="/CourseDetails/Details/@Model">Детайли</a></li>
        <li><a href="/CourseMaterials/Materials/@Model">Материали</a></li>
        <li><a href="/CourseImages/Images/@Model">Снимки</a></li>
        <li><a href="/CourseVideos/Videos/@Model">Видео</a></li>
    </ul>
</div>
