﻿@using Microsoft.AspNet.Identity
@model KTraining.Models.UserProfileViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.FirstName @Model.SecondName @Model.LastName</h2>

<div class="row">
    <hr />
    <div class="col-md-6">
        <h3 class="col-md-offset-2">Детайли</h3>
        <br />
        <dl class="dl-horizontal">
            <dt class="field-detail">
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd class="field-detail">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="field-detail">
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd class="field-detail">
                @Html.DisplayFor(model => model.Country)
            </dd>

            <dt class="field-detail">
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd class="field-detail">
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt class="field-detail">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd class="field-detail">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt class="field-detail">
                @Html.DisplayNameFor(model => model.Skype)
            </dt>

            <dd class="field-detail">
                @Html.DisplayFor(model => model.Skype)
            </dd>

            <dt class="field-detail">
                @Html.DisplayNameFor(model => model.Role)
            </dt>

            <dd class="field-detail">
                @Html.DisplayFor(model => model.Role)
            </dd>
            <dt class="field-detail">
                @Html.DisplayNameFor(model => model.AboutMe)
            </dt>

            <dd class="field-detail">
                @Html.Raw(Model.AboutMe)
            </dd>
            @if(User.Identity.GetUserId()==Model.Id)
            { 
                <dd class="field-detail">
                   <a href="/User/UserDetailsEdit">Редактирай</a>
                </dd>
            }

        </dl>
    </div>
    <div class="col-md-6">
        @if (Model.Role == "Ученик")
        { 
            <h3>Завършени курсове</h3>
        }
        else if (Model.Role == "Ръководител")
        {
            <h3>Курсове</h3>
        }
        @if (Model.CompleteCourses != null)
        {
            <ol type="1">
                @foreach (var item in Model.CompleteCourses)
                {
                    <li class="font-size-18">
                        <a href="/CourseDetails/Details/@item.Id">
                            @item.Name
                        </a>
                    </li>
                }
            </ol>
        }
    </div>
</div>
<link href="~/Content/Styles/User.css" rel="stylesheet" />