﻿@model KTraining.Models.CourseDetails

@{
    ViewBag.Title = "Details";
    }

<div>
    <div class="background-color panel panel-default">
        <h1>@Model.CourseName</h1>
    </div>   
    @Html.Partial("~/Views/Course/NavbarTeacher.cshtml", Model.Id)
    <div class="row">
        <div class="col-md-12">
            <div class="error">
                @TempData["DeleteCourseError"]
            </div>
            <a class="btn btn-primary" href="/Course/Edit/@Model.Id">Редактирай курса</a>
            <a class="btn btn-danger" href="/Course/Delete/@Model.Id">Изтрий курса</a>
            <a class="btn btn-success" href="/Course/Complete/@Model.Id">Завърши курса</a>
        </div>
        <div class="col-md-6">
            <h4>Ръководител:</h4>
            <div>
                <a href="/User/UserDetails/@Model.Teacher.ApplicationUserId">
                    @Model.Teacher.ApplicationUser.FirstName @Model.Teacher.ApplicationUser.SecondName @Model.Teacher.ApplicationUser.LastName
                </a>
            </div>
            <br />
            <div><h4>Брой участници: @Model.CountParticipants</h4></div>
        </div>
        <div class="col-md-6">
            <h3>Описание:</h3>
            <div>@Html.Raw(Model.Description)</div>
        </div>
    </div>
</div>
<link href="~/Content/Styles/CourseDetails.css" rel="stylesheet" />