﻿
@{
    ViewBag.Title = "Aiken";
}

<h2>Aiken</h2>

<p>
    <p>
        <p>
        Aiken формат дава възможност за много лесно създаване на отворени въпроси с няколко отговора.
       </p>
        <br />
        Ето няколко примера:
        <br />
    </p>
    <p>
        Кой е правилния отговор?
        <br />
        A. Това правилния отговор ли е?
        <br />
        B. Може да е този.
        <br />
        C. Вероятно е този.
        <br />
        D. Трябва за е този.
        <br />
        ANSWER: D
        <br />
    </p>
    <p>
        Кой е правилния отговор?
        <br />
        A) Това правилния отговор ли е?
        <br />
        B) Може да е този.
        <br />
        C) Вероятно е този.
        <br />
        D) Трябва за е този.
        <br />
        ANSWER: А
    </p>
        <br />
    <p> 
        И двата примера ще направят един и същ въпрос.
    </p>
</p>