﻿@{
    ViewBag.Title = "KTraining";
}
<div class="row ">
    <div class="col-md-8 ">
        <div class="jumbotron index-intro my-panel">
            <h1>KTraining</h1>
            @if(User.Identity.IsAuthenticated)
            {
                <p class="lead hello"></p>
                <div class="lead nottf"></div>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <p class="lead">Създавайте курсове с KTraining.</p>
                <p class="lead"> Направете своя профил сега.</p>
                <p>
                    <a href="/Account/Register" class="btn btn-primary btn-lg">Регистрирай се</a>
                </p>
                <p>
                    <a href="/Account/Login" class="btn btn-primary btn-lg">Влез</a>
                </p>
            }
        </div>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
        <div class="row panel panel-default my-panel">
            <div class="row  col-md-offset-4">
                <h3>Курсове</h3>
            </div>
            <hr />
            <div class="col-md-6">
                <h4>Последни</h4>
                <div class="row">
                    <div id="latest-courses">
                        <img class="loading-m" src="~/Content/loading.gif"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Най-известни</h4>
                <div class="row">
                    <div id="most-famous-courses">
                        <img class="loading-m" src="~/Content/loading.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/Styles/Home.css" rel="stylesheet" />
<script src="~/Scripts/KTrainingScripts/Index.js"></script>
