﻿@model IEnumerable<KTraining.Models.TestViewModel>
@{
    ViewBag.Title = "Tests";
}
<h2>Вашите тестове</h2>

<a class="btn btn-default" href="/ManualTest/AddRandomTest">Добави генериран тест</a>
<a class="btn btn-default" href="/ManualTest/AddSimpleTest">Добави обикновен тест</a>
<div class="error">
    @TempData["DelError"]
</div>
<div class="row">
    @foreach (var item in @Model)
    {
        <div class="panel panel-default col-md-5 test-panel">
            <div class="col-md-10">
                <a href="/ManualTest/Show/@item.Id">  @item.Title</a>
            </div>
            <div class="col-md-1">
                @using (Html.BeginForm("Delete", "ManualTest", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@item.Id" />
                    <div class="form-group">
                        <div>
                            <input type="submit" class="btn btn-danger" value="Изтрий" />
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
<link href="~/Content/Styles/ManualTest.css" rel="stylesheet" />
