﻿@model KTraining.Models.ShowMaterials
@{
    ViewBag.Title = "Materials";
}
<div>
    <div class="background-color panel panel-default">
        <h1>@Model.CourseName</h1>
    </div>   
     @Html.Partial("~/Views/Course/NavbarCompleted.cshtml", Model.Id)
    <h3>Материали</h3>
    <br />
    <div class="row">
        @foreach (var item in Model.Materials)
        {
            <div class="col-md-3 panel panel-default material-panel">
                <img src="~/Content/Document-Blank-icon.png" height="38" />
                <span>@item.Name</span>
                <a class="btn btn-primary pull-right material-button" href="@item.Source" target="_blank">Свали</a>
            </div>
        }
    </div>
</div>
<link href="~/Content/Styles/CourseMaterials.css" rel="stylesheet" />
