﻿.img {
    margin: 5px;
}

.font-size {
    font-size: 30px;
}

.font-size-17 {
    font-size: 17px;
}
.loading-m{
    margin-left:30px;
}
.font-size-15 {
    font-size: 15px;
}

.col-centered {
    display: inline-block;
    float: none !important;
    text-align: center;
    margin-right: -4px;
}

.row-centered {
    text-align: center;
}

.col-fixed {
    max-width: 800px;
}

.text-align-left {
    text-align: left;
}

.padding-left {
    padding-left: 0px;
}

.answer-div {
    margin-bottom: 8px;
}

.answer-label {
    cursor: pointer;
}

.padding-0 {
    padding: 0 !important;
}

.margin-0 {
    margin: 0 !important;
}

.radio-btn {
    width: 25px;
}

.row-modify {
    margin-left: 0px;
}

.row-modify:before {
    display: none;
}

.margin-top{
    margin-top:10px;
}

.border-q{
    border-left:10px;
    border-left: 1px solid #ddd;
    border-right:1px solid #ddd;
}

#time{
    color:red;
}.par-in{
    display:inline;
}.chbox1{
    zoom:0.5;
}