﻿@model KTraining.Models.SolveOpenQuestionViewModel
@{
    ViewBag.Title = "Question";
}
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-12 col-centered col-fixed">
            <div class="text-align-left font-size-17">
                @(Model.Index + 1).@Html.Raw(Model.Content)
            </div>
        </div>
        <div class="col-xs-12 col-centered col-fixed">
            <div class="text-align-left">
                @foreach (var im in Model.Images)
                {
                    <a class="fancybox " href="@im.Source" title="@im.Name"><img src="@im.Source" height="70" width="90" class="tr" alt=""></a>
                }
            </div>

        </div>
                @using (Html.BeginForm("SendAnswerOpen", "ManualTestStudent", FormMethod.Post, new { id = "idForm", @class = "navbar-left navbar-left col-xs-12 col-centered col-fixed" }))
                {
                    @Html.AntiForgeryToken()
                    <textarea name="textArea"></textarea>
                    @Html.HiddenFor(m => m.Answer, new { @class = "hiddenArr" })
                    @Html.HiddenFor(m => m.Index, new { @class = "form-control index" })
                    @Html.HiddenFor(m => m.SolvedQuestionId, new { @class = "form-control" })
                    @Html.HiddenFor(m => m.SolvedTestId, new { @class = "form-control" })
                    @Html.HiddenFor(m => m.QuestionId, new { @class = "form-control" })
                    <input type="button" class="btn btn-default margin-top" value="Следващ" id="next" />
                }
    </div>
</div>
<link href="~/Content/Styles/ManualTestStudent.css" rel="stylesheet" />
@Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
<script src="~/Scripts/KTrainingScripts/InitTinyMCE.js"></script>
<script>
    $("#next").click(function () {
        $('.hiddenArr').val(tinyMCE.get('textArea').getContent());
        GetQuestion();
        
    });
    function GetQuestion() {
        $.ajax({
            type: "POST",
            url: "/ManualTestStudent/SendAnswerOpen",
            data: $("#idForm").serialize(),
            traditional: true,
            success: function (data) {
                if (data === true) {
                    window.location.href = "/ManualTestStudent/EndTest/@Model.SolvedTestId";
                }
                else {
                    $("#question").html(data);
                    $("p").addClass("par-in");
                }
            }
        });
    }
</script>
