﻿@model KTraining.Models.StartManualTestViewModel
@{
    ViewBag.Title = "Start";
}
<div class="font-size-22" id="timer"></div>
<br />
<div class="q-border">
    <div class="row">
        <div class="col-md-12">
            <h3>@Model.Title</h3>
        </div>
        <div class="col-md-12">
            <h4>@Model.TeacherName</h4>
        </div>
        <div class="col-md-3">
            Време:
            <span id="time">

            </span>
        </div>
        <div class="col-md-12">
            Въпроси:
            <span class="questionNum">
                1
            </span>
            oт @Model.CountQuestion
        </div>
    </div>
    <div class="row" id="question">

        <img class="loading-m" src="~/Content/loading.gif" />
    </div>
</div>

<link href="~/Content/Styles/ManualTestStudent.css" rel="stylesheet" />
<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
@section scripts{
@Scripts.Render("~/Scripts/jquery.mousewheel.pack.js")
@Scripts.Render("~/Scripts/jquery.fancybox.pack.js")
    <script>
    $(window).bind('beforeunload', function(){
        window.open("/ManualTestStudent/EndTest/@Model.SolvedTestId");
    });

    var time=@Model.Time;
    $("#time").html("Време: "+time);
    setInterval(function() {
        $.ajax({
            type: "POST",
            url: "/ManualTestStudent/CheckTime",
            data: {solvedTestId:@Model.SolvedTestId },
            traditional: true,
            success: function (data) {
                if(data===false)
                {
                    clearInterval(this);
                    window.location.href="/ManualTestStudent/EndTest/@Model.SolvedTestId";
                }
            }
        });
        time--;
        $("#time").html("Време: "+time);
    }, 60 * 1000);

    function GetQuestion()
    {
        $.ajax({
            type: "GET",
            url: "/ManualTestStudent/Question",
            data: {questionIndex:0,solvedTestId:@Model.SolvedTestId },
            traditional: true,
            success: function (data) {
                $("#question").html(unescape(data));
                $('.fancybox').fancybox();
                $("p").addClass("par-in");
            }
        });
    }
    GetQuestion();

    $('.fancybox').fancybox();
</script>
}
