﻿@model KTraining.Models.AddCloseAnswerViewModel
@{
    ViewBag.Title = "Add answer";
}
<link href="~/Content/fileinput.css" rel="stylesheet" />
<script src="~/Scripts/fileinput.js"></script>
<h4>Добавяне на отгoвор</h4>
@using (Html.BeginForm("Add", "CloseAnswer", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Content, new { @class = "col-md-1 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control input-post animated ",@id="asdf"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Correct, new { @class = "col-md-1 control-label" })
        <div class="col-md-1">
            @Html.CheckBoxFor(m => m.Correct, new { @class = "form-control chbox " })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Images, new { @class = "col-md-1 control-label" })
        <div class="col-md-10">            
            @Html.TextBoxFor(m => m.Images, new { type = "file", formenctype = "multipart/form-data", multiple = "multiple", @id = "input-4" })
        </div>
    </div>
    @Html.HiddenFor(m => m.QuestionId, new { @class = "form-control" })

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" class="btn btn-default qwer" value="Добавяне" />
        </div>
    </div>
}
<script>
    $("#input-4").fileinput({ showCaption: false, showUpload: false, browseLabel: "Избери", removeLabel: "Премахни" });
</script>
<style>
    input[type=checkbox] {
        transform: scale(1.3);
        /* Webkit browsers*/
        -webkit-transform: scale(1.3);
    }
</style>

