﻿@model KTraining.Models.CloseQuestionShowViewModel
@{
    ViewBag.Title = "Questions";
}

<h2>Въпроси</h2>

<link href="~/Content/fileinput.css" rel="stylesheet" />
<script src="~/Scripts/fileinput.js"></script>
<div>
    <div>
        <button class="btn btn-primary" id="import-btn">Импорт</button>
    </div>
    <div class="panel panel-default hide import-panel" id="import-panel" >
        <div>
            <p>
                Импортиране на файлове от текстове файл. Въпросите трябва да бъдат в Aiken формат. 
                <a href="/Help/Aiken" target="_blank">Повече за Aiken</a>
            </p>
        </div>
        @using (Html.BeginForm("ImportClose", "ImportQuestion", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div>
                 Изберте файлове 
                <input type="file" name="file" id="fiele_upload" formenctype="multipart/form-data" multiple />
                <input type="hidden" value="@Model.TopicId" name="id" />
            </div>
        }
    </div>

    <div class="row">
        @for (int i = 0; i < Model.CloseQuestions.Count(); i++)
        {
            <div class="col-xs-1 panel panel-default question-panel question hover">
                <div class="inner-question-panel">
                    <a href="/CloseQuestion/Question/@Model.CloseQuestions[i].Id">@(i + 1)</a>
                </div>
                <div class="appear">
                    <div>
                        @Html.Raw(Model.CloseQuestions[i].Content)
                    </div>
                </div>
            </div>
        }

        <div class="col-xs-1 panel panel-default question-panel question">
            <div class="inner-question-panel">
                <a href="/CloseQuestion/Add/@Model.TopicId">Нов</a>
            </div>
        </div>
    </div>
  
</div>

@section scripts{
<script src="~/Scripts/jquery.uploadify.js"></script>
<link href="~/Content/uploadify.css" rel="stylesheet" />
<script src="~/Scripts/KTrainingScripts/QuestionsCloseQ.js"></script>
 }
<link href="~/Content/Styles/CloseQuestion.css" rel="stylesheet" />