﻿
@{
    ViewBag.Title = "Type";
}

<h2>Видове тестoве</h2>

<div>
    <div>
        <a href="/AutomaticTest/Tests"><h4>Тестове проверявани от системата</h4></a>
    </div>
    <div>
        <a href="/ManualTest/Tests"><h4>Тестове проверявани от ръководителя</h4></a>
    </div>
</div>