﻿@model KTraining.Models.SolvedTestViewModel
@{
    ViewBag.Title = "Tests";
}

<div class="row">
    <div class="col-md-6">
        <div>
            <h2>Проверени от системата</h2>
        </div>
        <br />
        <div class="row">
            @foreach (var item in @Model.AutomaticSolvedTests)
            {
                <div class="panel panel-default col-md-9 solved-test-panel">
                    <div>
                        <h4><a href="/SolvedTest/SolvedAutomaticTest/@item.Id">@item.Name</a></h4>
                    </div>
                    <div>
                       Курс:<a href="/Post/Posts/@item.CourseId">  @item.CourseName</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <h2>Проверени от ръководителя</h2>
        </div>
        <br />
        <div class="row">
            @foreach (var item in @Model.ManualSolvedTest)
            {
                <div class="panel panel-default col-md-9 solved-test-panel">
                    <div>
                        <h4><a href="/SolvedTest/SolvedManualTest/@item.Id">@item.Name</a></h4>
                    </div>
                    <div>
                        Курс: <a href="/Post/Posts/@item.CourseId">  @item.CourseName</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<link href="~/Content/Styles/SolvedTets.css" rel="stylesheet" />
