﻿@model KTraining.Models.CourseParticipants
@{
    ViewBag.Title = "Participants";
}
@Html.Partial("~/Views/Course/Navbar.cshtml", Model.Id)
<h3>Участници</h3>
<div>
    @foreach (var item in Model.Students)
    {
        <div>
            <span> @item.ApplicationUser.FirstName </span>
            <span> @item.ApplicationUser.SecondName </span>
            <span> @item.ApplicationUser.LastName </span>
        </div>
    }
</div>