﻿@model KTraining.Models.ImportQuestionViewModel
@{
    ViewBag.Title = "Import";
}
<br />
<br/>
<div>
    Успешно качихте @Model.ImportedQuestions въпроса
</div>
<div>
    <a href="/CloseQuestion/Questions/@Model.TopicId">Към въпросите</a>
</div>

